<h1>Post#new</h1>

<div class="jumbotron">
  <%= bootstrap_form_for @post do |f| %>
      <div>
        <%= f.text_field :description %>
      </div>
      <div>
        <%= f.text_field :link %>
      </div>
    <%= f.submit "Submit" %>
  <% end %>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Link</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Text</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="link">
      <div class="jumbotron">
        <%= bootstrap_form_for @post do |f| %>
          <div>
            <%= f.text_field :description %>
          </div>
          <div>
            <%= f.text_field :link %>
          </div>
           <%= f.submit "Submit" %>
         <% end %>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="text">...</div>
  </div>

</div>  