<h2><%= @post.description %></h2>

<strong>Add a comment</strong>
<%= form_tag "/posts/add_new_comment" do %>
  <%= hidden_field_tag "id", @post.id %>
  <%= text_area_tag :body %>
  <%= submit_tag "Post Comment" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <% @comments.each do |comment| %>
      <h5><%= comment.user.email %></h5>
      <p><%= comment.body %></p>
        <%= link_to(upvote_comment_path(comment), method: :put, class: "vote-glyphicon" ) do %>
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        <% end %> 
        <%= link_to(downvote_comment_path(comment), method: :put, class: "vote-glyphicon") do %>
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        <% end %>
      <hr class="col-md-12">
    <% end %> 
  </div>
</div>